.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    width: 100%; /* Set to 100% of the parent */
    max-width: 1200px; /* Or the max-width you desire */
    margin: 0 auto; 
    margin-top: 100px;
  }
  